body {
    color: #40514E;
    font-family: 'merriweather', serif;
    text-align: center;
}

#div4 {
   position: relative;
   right: 100px;
}


h1 {
    color: #66BFBF;
    font-family: 'montserrat' sans-serif;
    font-size: 21px;
    padding-top: 70px;
}

h2 {
    color: #66BFBF;
    font-family:'montserrat', sans-serif ;
    font-size: 30px;
    font-weight: normal;
    margin-top: 50px;
}

h3 {
    color: #11999E;
    font-family: 'montserrat', sans-serif;
}

#top {
   background-color: #E4E9E5;
   margin-bottom: 90px;
}


#top-cloud {
    width: 120px;
    height: 25px;
    position: absolute;
    right: 170px;
    top: 250px;
    transition: all 1s;
}

#middle-cloud {
    width: 120px;
    height: 25px;
    position: absolute;
    left: 70px;
    top: 70px;
    transition: all 1s;
}

#bottom-mmnnt {
    width: 300px;
    height: 225px;
    position: relative;
    right: 20px;
    margin-top: 300px;
    transition: all 1s;
}




#bottom-m222 {
    padding-top: 100px;
}

#left-pic-modified {
    width: 170px;
    padding-top: 150px;
    transition: all 1s;
}

#code-img {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    left: 350px;
    background-color: #f5afed;
    border-radius: 80px;
    margin-top: 50px;
    padding: 20px 0px 20px 0px;
    transition: all 1s;
}



p {
    color: #66BFBF;
    line-height: 5px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    position: relative;
    left: 630px;
}

#up {
    width: 50px;
    height: 50px;
    padding-top: 80px;
    position: relative;
    right: 500px;
    bottom: 70px;
}

#green {
    width: 150px;
    height: 150px;
    background-color: #ac099e;
    float: right;
    position: relative;
    right: 250px;
    border-radius: 80px;
    padding: 20px 0px 20px 0px;
    transition: all 1s;
}

#middle-section {
    text-align: center;
    position: relative;
    bottom: 100px;
}

#up {
    margin-bottom: 50px;
}

#img {
    float: left;
}

img:hover {
    transform: scale(1.1);
}

#myy {
    padding-top: 50px;
    font-size: 30px;
}

#ddd {
    padding-top: 75px;
    padding-bottom: 10px;
    position: relative;
    right: 80px;
}

#aa {
    position: relative;
    right: 23px;
}

#bb {
    position: relative;
    right: 20px;
}

#ih {
    position: relative;
    right: 16px;
}

#hrr {
    position: relative;
    right: 20px;
    margin-top: 100px;
}

#hrh {
    position: relative;
    top: 20px;
    left: 35px;
    margin-bottom: 50px;
    padding-left: 50px;
}

#web {
    position: relative;
    bottom: 10px;
    right: 80px;
    top: 0px;
    margin-bottom: 100px;
}

#bottom-section {
    background-color: #66BFBF;
    position: relative;
    top: 90px;
}

#pp {
    color: #40514E;
}

#copyrite {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

a{
    color: #11999e;
    font-family: 'montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;

}

#king {
    position: relative;
    left: 5px;
    bottom: 8px;
}

#footer-link {
   position: relative; 
   top: 10px;
}

#footer-link1 {
    position: relative;
    top: 10px;

}

#Contact-me {
    position: relative;
    bottom: 45px;
    top: 70px;
}

#profile {
    position: relative;
    bottom: 100px;
}

.btn btn-outline-info {
    position: relative;
    top: 100px;
}
